*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/background.jpg);
    height: 100vh;
}

.first_screen
{
    position: absolute;
    top: 5%;
    left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1300px;
    height: 820px;
    opacity: 0.85;
    text-align: center;
    color: #fff;
    border: 1px solid #aaa;
    background-color: black;
    box-shadow: 0 50px 30px 10px black;
    z-index: 100;
    padding: 1rem;
}
.first_screen_hide
{
    display: none;
}
.names
{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
}
#start_game, #new_game
{
    background-color: white;
    width: fit-content;
    padding: 1em;
    font-size: 1.6em;
    transition: color 0.2s;
    align-self: center;
    font-weight: 700;
    color: black;
    border: none
}
#start_game:hover, #new_game:hover
{
    background-color: darkgrey;
    color:white;
    border: none;
}
#myInput_1, #myInput_2 {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
    text-align: center;
}


.container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1179px;
    height: 804px;
    
    
}


#board
{
    width: 804px;
    height: 804px;
    float: left;
    border: 2px solid black;
}
#panel
{
    float: left;
    background-color: lightgray;
    height: 800px;
    width: 346px;
    margin-left: 25px;
    border: 2px solid white;
    color: white;
}

.white_field, .black_field
{
    background-color: white;
    width: 100px;
    height: 100px;
    float: left;
    color: grey;
}
.black_field
{
    background-color: black;
   
}
.pawn
{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 29px;
}
#Player_1, #Player_2, #move
{
    font-size: 30px;
    margin-left: 20px;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    
}
#point_1, #point_2, #name_p1, #name_p2, #move
{
    width: 100px;
    float: left;
    margin-top: 10px;
}
#p1, #p2, #n1, #n2, #move_color
{
    width: 150px;
    height: 34px;
    font-size: 30px;
    float: left;
    margin-top: 10px;
}

.last-screen-hide
{
    display: none;
}
.last-screen {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    height: 90vh;
    opacity: 0.85;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 50px 30px 10px black;
    z-index: 100;
    padding: 1rem;
}